* {
  box-sizing: border-box;
}

:root {
  --sidebar: #312f2f;
  --links: #e63946;
  --background: #1d3557;
  --foreground: #f1faee;
  --header: #457b9d;
  --tableRow: #50b6b9;
  --tableRowAlternate: #8d8fb9;
}

body,
html {
  height: 100%;
}

body {
  display: grid;
  grid-template-columns: 1fr 3fr;
  font-family: Arial, Helvetica, sans-serif;
}

aside {
  background-color: var(--sidebar);
  color: var(--links);
  padding: 0 10px;
}

.streets a {
  background-color: transparent;
  display: block;
  color: inherit;
  margin: 20px 0;
}

main {
  background-color: var(--background);
  color: var(--foreground);
}

.titlebar {
  padding: 18px 10px;
  color: var(--foreground);
}

.titlebar i {
  margin-right: 10px;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: 0;
  width: 100%;
  position: relative;
}

input:before {
  content: '\25AE'; /* this is your text. You can also use UTF-8 character codes as I do here */
  font-family: FontAwesome;
  left: -5px;
  position: absolute;
  top: 0;
}

table {
  background-color: var(--header);
  width: 90%;
  margin: auto;
  border-spacing: 0;
  margin-bottom: 20px;
}

td,
th {
  padding: 20px 10px;
  text-align: left;
}

thead th {
  font-weight: 700;
  background-color: var(--header);
}

tbody td {
  border-top: 1.5px solid var(--background);
  color: var(--foreground);
}

tbody tr:last-child td {
  border-bottom: none;
}

#street-name {
  width: 90%;
  margin: auto;
  padding-left: 0;
  font-weight: 700;
}

.Northbound,
.Eastbound {
  background-color: var(--tableRow);
}

.Southbound,
.Westbound {
  background-color: var(--tableRowAlternate);
}
