* {
  box-sizing: border-box;
}

:root {
  --sidebar: #312f2f;
  --links: #e63946;
  --background: #1d3557;
  --foreground: #f1faee;
  --header: #457b9d;
  --NEbackground: #50b6b9;
  --SWbackground: #8d8fb9;
}

html {
  font-size: 18px;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  font-family: Arial, Helvetica, sans-serif;
}

aside {
  background-color: var(--sidebar);
  color: var(--links);
  padding: 0 20px 20px;
}

.streets a {
  background-color: transparent;
  display: block;
  color: inherit;
}

.streets a + a {
  margin-top: 20px;
}

body > main {
  padding: 0 1rem 1rem;
  min-height: 100vh;
  background-color: var(--background);
  color: var(--foreground);
}

.titlebar {
  padding: 18px 10px;
  color: var(--foreground);
}

.titlebar i {
  margin-right: 10px;
}

input {
  padding: 10px;
  margin: 0 0 20px;
  border: none;
  width: 100%;
  position: relative;
  background-color: var(--foreground);
  color: var(--sidebar);
}

input:before {
  content: '\25AE'; /* this is your text. You can also use UTF-8 character codes as I do here */
  font-family: FontAwesome;
  left: -5px;
  position: absolute;
  top: 0;
}

#schedules .row {
  display: grid;
  grid-template-columns: 2fr 1fr 0.75fr 1fr;
  padding: 20px 10px;
  text-align: center;
  align-items: center;
}

#schedules .row > div:first-child {
  text-align: left;
}

#schedules .row + .row {
  border-top: 0.1rem solid var(--background);
}

#schedules header {
  font-weight: 700;
  background-color: var(--header);
  position: -webkit-sticky;
  position: sticky;
  top: 8.85rem;
}

@supports (-webkit-touch-callout: none) {
  #schedules header {
    top: 9.85rem;
  }
}

#street-name {
  background-color: var(--background);
  padding-left: 0;
  font-weight: 700;
  position: sticky;
  top: 0;
}

.Northbound,
.Eastbound {
  background-color: var(--NEbackground);
}

.Southbound,
.Westbound {
  background-color: var(--SWbackground);
}

dl#legend {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  grid-gap: 0.5rem 1rem;
  padding: 1rem 2rem 0;
  margin: 0;
}

dl#legend dt {
  padding: 0.5rem 0 0.5rem 0.5rem;
}

dl#legend dd {
  margin: 0;
}

@media (min-width: 700px) {
  body {
    grid-template-columns: 1fr 3fr;
  }
}
