* {
  box-sizing: border-box;
}

:root {
  --sidebar: #312f2f;
  --links: #e63946;
  --background: #1d3557;
  --foreground: #f1faee;
  --header: #457b9d;
  --tableRow: #50b6b9;
  --tableRowAlternate: #8d8fb9;
}

html {
  font-size: 18px;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  font-family: Arial, Helvetica, sans-serif;
}

aside {
  background-color: var(--sidebar);
  color: var(--links);
  padding: 0 20px 20px;
}

.streets a {
  background-color: transparent;
  display: block;
  color: inherit;
}

.streets a + a {
  margin-top: 20px;
}

main {
  padding: 0 1rem 1rem;
  min-height: 100vh;
  background-color: var(--background);
  color: var(--foreground);
}

.titlebar {
  padding: 18px 10px;
  color: var(--foreground);
}

.titlebar i {
  margin-right: 10px;
}

input {
  padding: 10px;
  margin: 0 0 20px;
  border-radius: 5px;
  border: 0;
  width: 100%;
  position: relative;
}

input:before {
  content: '\25AE'; /* this is your text. You can also use UTF-8 character codes as I do here */
  font-family: FontAwesome;
  left: -5px;
  position: absolute;
  top: 0;
}

table {
  background-color: var(--header);
  width: 100%;
  border-spacing: 0;
  margin-bottom: 20px;
}

tr {
  display: grid;
  grid-template-columns: 2fr 1fr 0.75fr 1fr;
}

td,
th {
  padding: 20px 10px;
  text-align: center;
}

th:first-child,
td:first-child {
  text-align: left;
}

thead tr {
  font-weight: 700;
  background-color: var(--header);
  position: sticky;
  top: 0;
}

tbody td {
  border-top: 1.5px solid var(--background);
  color: var(--foreground);
}

tbody tr:last-child td {
  border-bottom: none;
}

#street-name {
  padding-left: 0;
  font-weight: 700;
}

.Northbound,
.Eastbound {
  background-color: var(--tableRow);
}

.Southbound,
.Westbound {
  background-color: var(--tableRowAlternate);
}

dl#legend {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  grid-gap: 0.5rem 1rem;
  padding: 1rem 2rem 0;
  margin: 0;
}

dl#legend dt {
  height: 1rem;
  width: 1rem;
}

dl#legend dd {
  margin: 0;
}

@media (min-width: 700px) {
  body {
    grid-template-columns: 1fr 3fr;
  }
}
